---
import Layout from "../layouts/Layout.astro";
import Person from "../components/Person.astro";
import { getCollection } from "astro:content";
const allTeammates = await getCollection("team");
const allTeammatesSorted = allTeammates.sort((x: any, y: any) => {
  return x.data.name.localeCompare(y.data.name);
});
---

<Layout title="Zespół">
  <div class="team wrapper">
    {
      allTeammatesSorted.map((person: any) => {
        return <Person body={person.body} data={person.data} />;
      })
    }
  </div>
</Layout>

<style>
  .team {
    display: grid;
    gap: 4rem;
    margin-top: 1rem;
  }
</style>
