<div class="about wrapper">
  <div class="about__text">
    <h2>Kim jesteśmy?</h2>
    <p>
      Jesteśmy młodymi pasjonatami technologii z dużym zapałem do tworzenia unikalnych i przyciągających wzrok stron internetowych. Nasze doświadczenie zdobyte w trakcie nauki pozwala nam na profesjonalne podejście do każdego projektu. 
    </p>
    <p>
      <b>Nasze wartości</b>
    </p>
    <ul>
      <li>Innowacyjność: Korzystamy z najnowszych technologii i trendów w web designie, aby dostarczać nowoczesne i innowacyjne rozwiązania.</li>
      <li>Jakość: Każdy projekt traktujemy indywidualnie, dbając o najmniejsze detale, aby zapewnić najwyższą jakość wykonania.</li>  
      <li>Zaangażowanie: Jesteśmy w pełni zaangażowani w każdy projekt, co przekłada się na zadowolenie naszych klientów i trwałe relacje biznesowe.</li>
    </ul>
  </div>
  <div class="about__svg">
    <img src="/svgs/about.svg" alt="About SVG" />
  </div>
</div>

<style>
  .about {
    background-color: var(--clr-primary-300);
    border-radius: 2rem;
    padding: 1.5rem;
    text-wrap: pretty;
  }

  .about__text h2 {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .about__text h2::before {
    content: "";
    display: block;
    width: 4px;
    height: 1.5rem;
    background-color: var(--clr-secondary);
  }

  .about__text p {
    margin-top: 1rem;
  }

  .about__svg {
    margin-top: 2rem;
  }

  .about__svg svg {
    width: 100%;
  }

  ul {
    list-style: none;
    padding-top: 0.25rem;
  }

  li + li {
    margin-top: 1rem;
  }

  @media (min-width: 60rem) {
    .about {
      display: flex;
      gap: 1rem;
    }

    .about__text {
      width: 100%;
    }

    .about__svg {
      width: 70%;
      margin-top: auto;
    }

    ul {
      list-style: disc;
      margin-left: 1rem;
    }
  }
</style>
