<footer class="footer wrapper">
  <div class="footer__left">
    <div class="footer__left__socials">
      <a href="https://twitter.com/Bielsania" target="_blank">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <title>Twitter Link</title>
          <path
            d="M14.2833 10.1625L23.2178 0H21.1004L13.3429 8.82375L7.14665 0H0L9.36983 13.3433L0 24H2.1174L10.3099 14.6818L16.8533 24H24L14.2828 10.1625H14.2833ZM11.3834 13.4606L10.4339 12.132L2.88024 1.55962H6.13241L12.228 10.092L13.1773 11.4206L21.1014 22.5112H17.8496L11.3834 13.4612V13.4606Z"
            fill="#EEEDEE"></path>
        </svg>
      </a>
      <a href="#!" target="_blank">
        <svg viewBox="0 0 32 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <title>Dicord Link</title>
          <path
            d="M26.653 1.99455C24.6579 1.06479 22.4979 0.389967 20.2478 6.89792e-05C20.2281 -0.00056176 20.2084 0.00313939 20.1903 0.0109123C20.1722 0.0186852 20.1559 0.030341 20.1428 0.0450575C19.8728 0.539928 19.5578 1.18476 19.3478 1.67963C16.9612 1.31972 14.5341 1.31972 12.1476 1.67963C11.9376 1.16976 11.6226 0.539928 11.3376 0.0450575C11.3226 0.0150654 11.2776 6.89792e-05 11.2326 6.89792e-05C8.98249 0.389967 6.83743 1.06479 4.82738 1.99455C4.81238 1.99455 4.79738 2.00954 4.78238 2.02454C0.702266 8.12794 -0.422765 14.0664 0.13225 19.9448C0.13225 19.9748 0.14725 20.0048 0.177251 20.0198C2.87732 21.9993 5.4724 23.199 8.03747 23.9938C8.08247 24.0088 8.12747 23.9938 8.14247 23.9638C8.74249 23.139 9.2825 22.2692 9.74751 21.3545C9.77751 21.2945 9.74751 21.2345 9.68751 21.2195C8.83249 20.8896 8.02247 20.4997 7.22744 20.0498C7.16744 20.0198 7.16744 19.9299 7.21244 19.8849C7.37745 19.7649 7.54245 19.6299 7.70746 19.51C7.73746 19.48 7.78246 19.48 7.81246 19.495C12.9726 21.8493 18.5378 21.8493 23.6379 19.495C23.6679 19.48 23.7129 19.48 23.7429 19.51C23.9079 19.6449 24.0729 19.7649 24.2379 19.8999C24.2979 19.9448 24.2979 20.0348 24.2229 20.0648C23.4429 20.5297 22.6179 20.9046 21.7628 21.2345C21.7028 21.2495 21.6878 21.3245 21.7028 21.3695C22.1829 22.2842 22.7229 23.154 23.3079 23.9788C23.3529 23.9938 23.3979 24.0088 23.4429 23.9938C26.023 23.199 28.618 21.9993 31.3181 20.0198C31.3481 20.0048 31.3631 19.9748 31.3631 19.9448C32.0231 13.1516 30.2681 7.25817 26.713 2.02454C26.698 2.00954 26.683 1.99455 26.653 1.99455ZM10.5275 16.3608C8.98249 16.3608 7.69246 14.9362 7.69246 13.1816C7.69246 11.4271 8.95249 10.0024 10.5275 10.0024C12.1176 10.0024 13.3776 11.4421 13.3626 13.1816C13.3626 14.9362 12.1026 16.3608 10.5275 16.3608ZM20.9828 16.3608C19.4378 16.3608 18.1477 14.9362 18.1477 13.1816C18.1477 11.4271 19.4078 10.0024 20.9828 10.0024C22.5729 10.0024 23.8329 11.4421 23.8179 13.1816C23.8179 14.9362 22.5729 16.3608 20.9828 16.3608Z"
            fill="#EEEDEE"></path>
        </svg>
      </a>
    </div>
    <p class="footer__left__text">© 2024 Bielsania Entertainment</p>
  </div>
  <div class="footer_right">
    <p>Stronę wykonał <a href="https://adamusdev.netlify.app/">AdamusDEV</a></p>
  </div>
</footer>

<style>
  .footer {
    font-size: 14px;
    text-align: center;
    padding-block: 1.5rem;
    margin-top: auto;
  }

  .footer,
  .footer svg path {
    color: var(--clr-text-300);
    fill: var(--clr-text-300);
  }

  .footer__left {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
  }

  .footer__left__socials {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .footer__left__socials svg {
    height: 16px;
  }

  .footer_right {
    margin-top: 0.5rem;
  }

  .footer_right a {
    color: inherit;
  }

  @media (min-width: 60rem) {
    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .footer_right {
      margin-top: 0;
    }
  }
</style>
