---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<script>
  const navigation = document.querySelector(".nav-container");
  const scrollWatcher = document.createElement("div");

  scrollWatcher.setAttribute("data-scroll-watcher", "");
  navigation?.before(scrollWatcher);

  const navObserver = new IntersectionObserver(
    (entries) => {
      navigation?.classList.toggle("sticking", !entries[0].isIntersecting);
    },
    { rootMargin: "50px 0px 0px 0px" },
  );

  navObserver.observe(scrollWatcher);

  const navMenu = document.querySelector(".nav__menu");
  const navLinks = document.querySelector(".nav__links");

  const toggleNav = () => {
    navLinks?.classList.toggle("nav-open");
  };

  navMenu?.addEventListener("click", () => toggleNav());
</script>

<header class="nav-container">
  <nav class="nav wrapper">
    <div class="nav__logo">
      <a href="/">
        <img src="/logo.svg" alt="Bielsania Logo" />
      </a>
      <div class="nav__menu">
        <img src="/svgs/menu.svg" alt="Menu" />
      </div>
    </div>
    <ul class="nav__links">
      <li class="nav__links__link">
        <a class={currentPath === "" ? "active" : ""} href="/">
          <div class="nav__links__link__svg">
            <svg
              width="18"
              height="16"
              viewBox="0 0 18 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_18_2274)">
                <path
                  d="M7.04 15.04V10.24H10.88V15.04C10.88 15.568 11.312 16 11.84 16H14.72C15.248 16 15.68 15.568 15.68 15.04V8.32003H17.312C17.7536 8.32003 17.9648 7.77283 17.6288 7.48483L9.6032 0.25603C9.2384 -0.0703695 8.6816 -0.0703695 8.3168 0.25603L0.291204 7.48483C-0.0351962 7.77283 0.166404 8.32003 0.608004 8.32003H2.24V15.04C2.24 15.568 2.672 16 3.2 16H6.08C6.608 16 7.04 15.568 7.04 15.04Z"
                  fill="#EEEDEE"></path>
              </g>
              <defs>
                <clipPath id="clip0_18_2274">
                  <rect width="17.92" height="16" fill="#EEEDEE"></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
          Strona Główna
          <span>❯</span>
        </a>
      </li>
      <li class="nav__links__link">
        <a
          class={currentPath === "projekty" || currentPath === "projekty/"
            ? "active"
            : ""}
          href="/projekty"
        >
          <div class="nav__links__link__svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16">
              <g clip-path="url(#a)">
                <path fill="#EDF0F8" d="M11.488 9.6c.064-.528.112-1.056.112-1.6s-.048-1.072-.112-1.6h2.704c.128.512.208 1.048.208 1.6s-.08 1.088-.208 1.6m-4.12 4.448a12.52 12.52 0 0 0 1.104-2.848h2.36a6.424 6.424 0 0 1-3.464 2.848Zm-.2-4.448H6.128A10.615 10.615 0 0 1 6 8c0-.544.048-1.08.128-1.6h3.744C9.944 6.92 10 7.456 10 8s-.056 1.072-.128 1.6ZM8 14.368A10.85 10.85 0 0 1 6.472 11.2h3.056A10.85 10.85 0 0 1 8 14.368ZM4.8 4.8H2.464A6.336 6.336 0 0 1 5.92 1.952C5.44 2.84 5.08 3.8 4.8 4.8Zm-2.336 6.4H4.8c.28 1 .64 1.96 1.12 2.848A6.4 6.4 0 0 1 2.464 11.2Zm-.656-1.6A6.594 6.594 0 0 1 1.6 8c0-.552.08-1.088.208-1.6h2.704A13.212 13.212 0 0 0 4.4 8c0 .544.048 1.072.112 1.6M8 1.624c.664.96 1.2 2.032 1.528 3.176H6.472A10.895 10.895 0 0 1 8 1.624ZM13.536 4.8h-2.36c-.25-.99-.621-1.947-1.104-2.848A6.39 6.39 0 0 1 13.536 4.8ZM8 0C3.576 0 0 3.6 0 8a8 8 0 1 0 8-8Z"/>
              </g>
              <defs>
                <clipPath id="a">
                  <path fill="#fff" d="M0 0h16v16H0z"/>
                </clipPath>
              </defs>
            </svg>
            
          </div>
          Nasze Projekty
          <span>❯</span>
        </a>
      </li>
      <li class="nav__links__link">
        <a
          class={currentPath === "zespol" || currentPath === "zespol/"
            ? "active"
            : ""}
          href="/zespol"
        >
          <div class="nav__links__link__svg">
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8 6.4C8.84869 6.4 9.66263 6.06286 10.2627 5.46274C10.8629 4.86263 11.2 4.04869 11.2 3.2C11.2 2.35131 10.8629 1.53737 10.2627 0.937258C9.66263 0.337142 8.84869 0 8 0C7.15131 0 6.33737 0.337142 5.73726 0.937258C5.13714 1.53737 4.8 2.35131 4.8 3.2C4.8 4.04869 5.13714 4.86263 5.73726 5.46274C6.33737 6.06286 7.15131 6.4 8 6.4ZM2.8 8.8C3.33043 8.8 3.83914 8.58929 4.21421 8.21421C4.58929 7.83914 4.8 7.33043 4.8 6.8C4.8 6.26957 4.58929 5.76086 4.21421 5.38579C3.83914 5.01071 3.33043 4.8 2.8 4.8C2.26957 4.8 1.76086 5.01071 1.38579 5.38579C1.01071 5.76086 0.8 6.26957 0.8 6.8C0.8 7.33043 1.01071 7.83914 1.38579 8.21421C1.76086 8.58929 2.26957 8.8 2.8 8.8ZM15.2 6.8C15.2 7.33043 14.9893 7.83914 14.6142 8.21421C14.2391 8.58929 13.7304 8.8 13.2 8.8C12.6696 8.8 12.1609 8.58929 11.7858 8.21421C11.4107 7.83914 11.2 7.33043 11.2 6.8C11.2 6.26957 11.4107 5.76086 11.7858 5.38579C12.1609 5.01071 12.6696 4.8 13.2 4.8C13.7304 4.8 14.2391 5.01071 14.6142 5.38579C14.9893 5.76086 15.2 6.26957 15.2 6.8ZM8 7.2C9.06087 7.2 10.0783 7.62143 10.8284 8.37157C11.5786 9.12172 12 10.1391 12 11.2V16H4V11.2C4 10.1391 4.42143 9.12172 5.17157 8.37157C5.92172 7.62143 6.93913 7.2 8 7.2ZM2.4 11.2C2.4 10.6456 2.48 10.1104 2.6304 9.6048L2.4944 9.616C1.8087 9.69129 1.17493 10.017 0.71461 10.5308C0.254289 11.0446 -0.000179007 11.7102 9.4478e-08 12.4V16H2.4V11.2ZM16 16V12.4C16.0001 11.6867 15.7279 11.0002 15.2391 10.4808C14.7503 9.96132 14.0816 9.64801 13.3696 9.6048C13.5192 10.1104 13.6 10.6456 13.6 11.2V16H16Z"
                fill="#EEEDEE"></path>
            </svg>
          </div>
          Zespół
          <span>❯</span>
        </a>
      </li>
      <li class="nav__links__link">
        <a
          class={currentPath === "kontakt" || currentPath === "kontakt/"
            ? "active"
            : ""}
          href="/kontakt"
        >
          <div class="nav__links__link__svg">
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.4 0H1.6C0.72 0 0.00799999 0.72 0.00799999 1.6L0 16L3.2 12.8H14.4C15.28 12.8 16 12.08 16 11.2V1.6C16 0.72 15.28 0 14.4 0ZM12.8 9.6H3.2V8H12.8V9.6ZM12.8 7.2H3.2V5.6H12.8V7.2ZM12.8 4.8H3.2V3.2H12.8V4.8Z"
                fill="#EEEDEE"></path>
            </svg>
          </div>
          Kontakt
          <span>❯</span>
        </a>
      </li>
      <div class="nav__links__socials">
        <a href="https://twitter.com/Bielsania" target="_blank">
          <img src="/svgs/twitter.svg" alt="Twitter Link" />
        </a>
        <a href="#!"><img src="/svgs/discord.svg" alt="Discord Link" /></a>
      </div>
    </ul>
  </nav>
</header>

<style>
  .nav-container {
    position: sticky;
    top: 0;
    background-color: initial;
    transition: background-color 250ms;
    z-index: 999;
  }

  .nav-container.sticking {
    background-color: var(--clr-main);
  }

  .nav {
    height: 5rem;
    display: flex;
    align-items: center;
    isolation: isolate;
  }

  .nav__menu {
    cursor: pointer;
  }

  .nav__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav__links {
    position: fixed;
    inset: 5rem 0 0 0;
    background-color: initial;
    transform: translateX(100%);
    transition:
      background-color 600ms cubic-bezier(0.33, 1, 0.68, 1),
      transform 600ms cubic-bezier(0.33, 1, 0.68, 1),
      opacity 300ms cubic-bezier(0.33, 1, 0.68, 1);

    list-style: none;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    opacity: 0;
  }

  .nav__links.nav-open {
    background-color: var(--clr-nav-menu);
    backdrop-filter: blur(2px);
    transform: translateX(0);
    opacity: 1;
  }

  .nav__links__link a {
    display: grid;
    grid-template-columns: 2rem 1fr 1rem;
    align-items: center;
    color: var(--clr-text);
    text-decoration: none;
    padding-block: 1.5rem;
    font-weight: 600;
  }

  .nav__links__link:first-child a {
    padding-top: 0rem;
  }

  .nav__links__link a span {
    margin-left: auto;
  }

  .nav__links__link::after {
    content: "";
    display: block;
    background-color: var(--clr-white);
    width: 100%;
    height: 1px;
  }

  .nav__logo a {
    display: block;
  }

  .nav__links__socials {
    margin-top: auto;
    display: flex;
    gap: 1rem;
  }

  .active,
  .active svg path {
    fill: var(--clr-secondary);
    color: var(--clr-secondary) !important;
  }

  @media (min-width: 60rem) {
    .nav__menu,
    .nav__links__socials,
    .nav__links__link a span {
      display: none;
    }

    .nav__logo {
      width: fit-content;
      margin-right: auto;
    }

    .nav__links {
      position: initial;
      transform: translateX(0);
      flex-direction: row;
      background-color: var(--clr-primary-300);
      font-size: 14px;
      padding: 0.5em 1em;
      border-radius: 5rem;
      opacity: 1;
    }

    .nav__links__link {
      display: flex;
      align-items: center;
    }

    .nav__links__link::after {
      width: 1px;
      height: 1rem;
      margin-inline: 1rem;
      background-color: var(--clr-text-300);
    }

    .nav__links__link:last-of-type::after {
      display: none;
    }

    .nav__links__link a {
      white-space: nowrap;
      padding-block: 0;
      grid-template-columns: 2rem 1fr;
      font-weight: 400;
    }

    .active {
      font-weight: 700 !important;
    }
  }
</style>
